
* {
  margin: 0;
  /* This helps keep all the header close to margin */
}

  .app{

    background-color: white;
    
 
  }



  .app__header { 
    background-color: #fafafa ;
    width : 320vh; 
    padding: 20px;
    object-fit: contain;
 
   /*  This helps keep the logo look proportionaten*/

}

/* .container{ 
  background-color:;

} */